h1, h2, h3, h3, h4, h5, h6 {color: grey}
form {color: seagreen}
table {border-color: grey}
a:link {color:red}
a:visited{color:purple}
body 
{
		background-image: url("cd.jpg");
		text-align: center;
		color: white;
}
